{
	"extends": [
		"stylelint-config-recommended",
		"stylelint-config-standard",
		"stylelint-config-prettier"
	],
	"customSyntax": "postcss-less",
	"rules": {
		"selector-class-pattern": null,
    "color-function-notation": null,
    "custom-property-empty-line-before": null,
    "alpha-value-notation": null
	}
}
