.app-layout{
  width: 100%;
  display: grid;
  grid-template-columns: 280px 1fr;

}

.app-layout-content{
  padding: var(--bootcamp-spacing-medium);
  display: flex;
  width: 100%;
}

.app-menu{
  padding: 0 var(--bootcamp-spacing-xlarge);
}

.app-tasklists{
  max-width: 800px;
  margin: 0 auto;
}

.app-header{
  height: 48px;
  width: 100%;
  padding: var(--bootcamp-spacing-small);
}
